@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;1,500&family=Karla:wght@400;700&display=swap');
$font-body: 'Epilogue';
$font-size-body: 18px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    font-size: $font-size-body;
}