@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Karla:wght@400;700&display=swap");

$font-body: "Epilogue";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}
