//Variables SCSS
$color-header: white;
$background-color-nav: hsl(0, 0%, 98%);
$color-links: hsl(273, 4%, 51%);
$color-btns: hsl(270, 9%, 17%);
$color-hover:black;
$font-size-body: 18px;

//funciones
@function size($t) {
  @return $t * $font-size-body;
}

//imports
@import "universal";

//funciones
@function size($t) {
  @return $t * $font-size-body;
}
//mixins
@mixin paddings($t) {
  padding: $t * 1px $t * 4px;
}

@mixin botones($s, $color-links, $color-backg) {
  @include paddings(4);
  color: black;
  font-weight: 700;
  background-color: $background-color-nav;
  border-radius: 12px;
  border: 2px solid $color-links;
  cursor: pointer;
  &:hover {
    background-color: $color-hover;
    color: $color-links;
  }
}
body{
    width: 100%;
}
.main{

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 3vw;

  &__container {
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    max-width: 100%;
    height: 100%;
    line-height: 2vw;
    align-items: center;
    height: 43vw;
    padding-top: 3vw;
    @include paddings(20);

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3vw;
        width: 90vw;
        margin-top: 8vw;
    }
        &__text{
            width: 100%;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1vw;
        }
        &__tittle{
            width: 90%;
            padding-right: 6vw;
            height: 15vw;
            font-size: size(6);
            line-height: 6vw;
            display: flex;
            align-items: flex-start;
            align-items: center;
        }
        &__parrafo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5vw;
            padding-right: 13vw;
            font-size: size(1.5);
            line-height: 2vw;
        }
        &__icons{
            display: flex;
            align-items:flex-start;
            width: 80%;
            gap: 7vw;
        }
        &__image{
            padding-right: 3vw;
            width: 80%;
            display: flex;
            justify-content: end;
         }
         &__images{
            width: 80%;
         }
         &__button{
            @include botones(5, $color-links, $background-color-nav);
            width: 30%;
            margin-bottom: 5vw;
            height: 3vw;
         }
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include paddings(10);
  }
  &__tittle {
    max-width: 100%;
    font-size: size(5);
    line-height: 6vw;
  }
  &__parrafo {
    @include paddings(40);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  &__icons {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 20%;
    gap: 4vw;
  }
  &__image {
    padding-right: 5vw;
    width: 60%;
    display: flex;
    justify-content: end;
  }
  &__images {
    max-width: 100%;
  }
  &__button {
    @include botones(5, $color-links, $background-color-nav);
    width: 30%;
    height: 3vw;
  }
}

.main {
  display: flex;
  width: 100%;
  @include paddings(20);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.main_text {
  max-width: 100%;
  height: 40vw;
  line-height: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rebeccapurple;
  @include paddings(10);
}
.main__tittle {
  max-width: 100%;
  font-size: size(5);
  line-height: 5vw;
}
p {
  @include paddings(50);
}

.main_icons {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  height: 5%;
  gap: 4vw;
  background-color: bisque;
}
.main_image {
  padding-right: 3vw;
  width: 50%;
  display: flex;
  justify-content: end;
}
.images {
  max-width: 100%;
}

.header {
  color: $color-header;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include paddings(20);
    background-color: $background-color-nav;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: size(2);
  }

  &__item {
    a {
      text-decoration: none;
      color: $color-links;
      font-weight: 700;

      &:hover {
        color: $color-btns;
      }
    }

    button {
      @include botones(5, $color-btns, $background-color-nav);
    }

    &--mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
    .header{
        &__nav{
            width: 200vw;
        }
        &__list{
            visibility: hidden;
        }
    }
    body{
        width: 100%;
        height: 100%;
        gap: 1vw;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

    }
    .main{
        width: 200vw;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__container{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 200vw;
            height: 300vw;
        }
        &__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        &__tittle{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 20%;
            font-size: size(3);
        }
        &__parrafo{
            width: 100%;
            height: 70%;
            font-size: size(1.8);
            line-height: 10vw;
            align-items: center;
            display: flex;
            justify-content: flex-start;
            @include paddings(10);
        }
        &__button{
            width: 50%;
            height: 30%;
            font-size: size(1.5);
            @include botones(5, $color-links, $background-color-nav)

        }
    }

}
.header__item {
  position: relative;
}
.dropdown {
  background-color: rgb(255, 255, 255);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #ffffff;
}
.header__item:hover .dropdown {
  display: block;
  box-shadow: 5px 5px black;
}
