

@import 'universal';

//Declaración de funciones
@function size($t) {
    @return $t*$size_text;
}
@mixin paddings ($t) {
    padding: $t*1px $t*4px;
}
//variables
$main-color: hsl(0, 0%, 98%);




.main{
    display: flex; 
    width: 100%;
    @include paddings(20)
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.main_text{
    max-width: 100%;
    height: 40vw;
    line-height: 2vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rebeccapurple;
    @include paddings(10)

}
.main__tittle{
    max-width: 100%;
    font-size: size(5);
    line-height: 5vw;
}
p{
    @include paddings(50)
}


.main_icons{
    display: flex;
    align-items:flex-start;
    max-width: 100%;
    height: 5%;
    gap: 4vw;
    background-color: bisque;
}
.main_image{
   padding-right: 3vw;
   width: 50%;
   display: flex;
   justify-content: end;
}
.images{
   max-width: 100%;
}
